#newmsg {
  width: 95vw;
  padding: .5rem ;
  font-size: 130%;
}

#message {
  display: flex;
  flex-direction: column-reverse;
}

#messages > li {
  /* margin-top: 1rem; */
  padding-top: 1rem;
  list-style: none;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    max-height: 0;
    background-color: yellow;
  }

  to {
    max-height: 2em;
    background-color: white;
  }
}
